@page
@model SACCO_System.Pages.AboutModel
@{
}
<h1 class="title" id="page-title">Specific Objectives of the Society</h1>
<!-- #tabs -->
<div class="tabs">
</div>
<!-- EOF: #tabs -->
<!-- #action links -->
<!-- EOF: #action links -->


<div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">


        <div class="content">
            <article id="node-3" class="node node-page clearfix node-mt" about="/node/3" typeof="foaf:Document">
                <div class="node-main-content full-width clearfix">
                    <header>
                        <span property="dc:title" content="Specific Objectives of the Society" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>



                    </header>

                    <div class="content">
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even" property="content:encoded">
                                    <div class="art-postcontent">
                                        <div class="art-article">
                                            <div>
                                                <p class="rtejustify">To promote thrift among its members by affording them an opportunity for accumulating their savings and deposits and create thereby a source of funds from which loans  can be made available to them for provident or productive or both purposes, at a fair and reasonable rate of interest.</p>
                                                <p class="rtejustify">To provide an opportunity for each of its members to improve his economic and social conditions.</p>
                                                <p class="rtejustify">To offer members complementary savings and credit services and other financial products such as front office service or withdraw able savings/deposits accounts as may be required by members from time to time.</p>
                                                <p class="rtejustify">To ensure safety and soundness of the members' funds through risk management programmes or any other insurance schemes.</p>
                                                <p class="rtejustify">To ensure progress of members by educating them continuously on proper use of credit.</p>
                                                <p class="rtejustify">To perform all those functions and exercise all those powers designated for Savings and Credit Co-operative Societies under the applicable law for the benefit of members.</p>
                                                <p class="rtejustify">To co-operate with other Co-operatives in order to promote members' interests and in furtherance of this object, the Society may affiliate with national Co-operative organizations such as KUSCCO and KNFC.</p>
                                                <p class="rtejustify">To perform within the bounds of the Act, the Rules, and these By-laws all those acts, deeds and things necessary to further enhance, promote or encourage any or all of the foregoing purposes and objects provided that such acts, deeds and things are approved by the General Meeting of members and authorized by the commissioner.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </div>
    </div>
</div>

